h1{
    color: #1976d2;
    font-size: 2.5rem;
    font-weight: 700;
}
p{
    font-size: 1rem;
    text-align: left;
    color: #fff;
    font-weight: 700;
}

.slide{
    font-size: 6rem;
    animation:
     fromRight 3s;
     color: #fff;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}


@keyframes fromRight {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    50%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.card{
    background: transparent;
    box-shadow: 0 0 5px #1976d2;
    
}


button{
    border-radius: 25px;
}
.bi-hand-thumbs-up-fill,.bi-hand-thumbs-down-fill{
    font-size: 1.5rem;
    margin: 0 8px;
    cursor: pointer;


}


.bi-hand-thumbs-down-fill:active{
color: red;
} 
.bi-hand-thumbs-up-fill:active{
    color: green;

    } 

.finish{
    background:#1976d2;
}
.follow i{
    padding: 0 5px;
    font-size: 1.5rem;
    color: #fff;
}
.tweet,.fb,.ig{
    transition: all .5s;
}
.tweet:hover{
    color:rgba(29,161,242,1.00) !important;
}
.fb:hover{
    color: #385898 !important;

}
.ig:hover{
    color:#d03b5c !important;


}

.download{
    display: flex;
    flex-direction: column;
}

