<div class="container">
    <div class="d-flex justify-content-center">
        <div class="text-center">
    <h1>What is QuotesHub</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi fuga ea natus excepturi maxime. Soluta, distinctio velit iste architecto eius nihil veritatis, saepe, ut dolore voluptas cum cumque ipsum incidunt?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt rem cupiditate magnam provident eius minus, soluta modi sed quaerat dolores quia, voluptates impedit corporis perferendis sit velit accusantium. Quis, ab.</p>
    </div>
    <div class="container-fluid">
        <i class="bi bi-patch-question-fill slide"></i>
    </div>

</div>
</div>
<h1 class="text-center">Quotes of all time</h1>
<hr>

<div class="container">
    <div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3" >
<div class="col" *ngFor='let quote of quotes; let i = index'>
<div class="card" style="width: 18rem;">
    <div class="card-body">
      <p class="card-text">{{quote.quote}}</p>
      <button  class="btn btn-primary">Toggle Details</button>

    </div>
    <app-quote-details [quote] = 'quote'></app-quote-details>


  </div>

  </div>
  </div>
  </div>
  