form{
    background: transparent;
    border-radius: 15px;
    box-shadow: 0 0 5px #1976d2;
    padding: 20px;

}
input{
    background: transparent !important;
    box-shadow: 0 0 5px #1976d2;
    font-weight: 700;
    border: none;
    color: #fff !important;

}
textarea{
    background: transparent !important;
    box-shadow: 0 0 5px #1976d2;
    font-weight: 700;
    border: none;
    color: #fff !important;


    

}

h2{
    color: #1976d2;
    text-shadow: -2px 0 white ,0 2px white,2px 0 white,0 -2px #fff ;
    font-weight: 700;
    margin: 0;
}
#author,#quoteDetails,textarea.ng-invalid{
    border-left: 5px solid red;
}
#author.ng-valid{
    border-left: 5px solid green;
}
#quoteDetails.ng-valid{
    border-left: 5px solid green;
}
textarea.ng-valid{
    border-left: 5px solid green;
}